<% provide(:title, 'Boozes') %>
<h1>Our Collection</h1>

<div>
  <%= form_tag drinks_path, method: "get" do %>
    <%= label_tag(:d, "Search for:") %>
    <%= text_field_tag(:d) %>
    <%= submit_tag("Search") %>
  <% end %>
  <%= link_to "Collection", drinks_path %>
</div>

<div class="row">
  <ul class="drinks">
    <% @drinks.each do |d| %>
      <li>
        <h3><%= link_to d.name.capitalize, d %></h3>
      </li>
    <% end %>
  </ul>
</div>
