<% provide(:title, 'Write Review') %>
<% provide(:button_text, 'Submit review') %>

<% if @drink %>
<div class="container">
  <div class="col-md-8">
    <h1>Review <%= @drink.name.capitalize %></h1>
  </div>
</div>
<% else %>
<h1>Write Review</h1>
<% end %>




<%= form_for([@drink, @review]) do |f| %>

  <%= render 'layouts/errors', object: f.object %>

  <%= f.label :content %>
  <%= f.text_area :content, size: "50x20", placeholder: "Compose your review...", class: 'form-control' %>
  <br>
  <%= f.label :status %>
  <%= f.select :status, ([" ", "Helpful", "Not Helpful"]), class: 'form-control' %>

  <%= f.hidden_field :drink_id, class: 'form-control' %>

  <br>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>